]
<div class="contact">
    <div class="contact__wrapper">
        <h1 class="content__header">Contact Me</h1>
        <p class="content__text">
        I believe that collaboration is key to innovation and growth. If you have any questions, ideas, or opportunities for collaboration, please feel free to reach out. Connect with me on LinkedIn or send me an email. I look forward to working together to create something amazing.
        </p>
        <div class="box__wrapper" [ngClass]="{'is-phone-portrait': isPhonePortrait, 'is-tablet-landscape': isTabletLandscape}">
            <div class="box linkedin__box" >
                <a href="https://www.linkedin.com/in/muhamed-otajagic-882ab0302/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="box email__box">
                <p>otajagicmuhamed&#64;gmail.com</p>
            </div>
        </div>
    </div>
</div>