
.contact{
    display: flex;
    /* margin-top: 2rem; */
    flex-direction: column;
    text-align: center;
    width: 100%;
    place-items: center;
}

.contact__wrapper .is-phone-portrait{
    flex-direction: column;
}

.contact__wrapper{
    width: 80%;
}

.contact__wrapper .box__wrapper{
    display: flex;
    text-align: center;
    place-items: center;
}

.contact .content__text{
    font-size: 1rem;
    line-height: 26px;
    padding-bottom: 1rem;
    color: #D2D2D6;
}

.box__wrapper{
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 20px;
}

.box{
    width: 250px;
    height: 100px;
    background-color: #2c2f33;
    color: #D2D2D6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow for a nice effect */
}

.isTabletPortrait .box__wrapper .box{
    font-size: 1.5rem;
}

.is-phone-portrait .box__wrapper .box{
    font-size: 1.5rem;
}

.linkedin__box a{
    font-size: 3rem;
    text-decoration: none;
    color: #0072b1;
    background-color: #2c2f33;
}

.fa-brands{
    background-color: #2c2f33;
}

.email__box{
    font-size: 1rem;
}

.email__box p{
    background: #2c2f33;
}

