
.bannerwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    background: #282b30 ;
    z-index: 1;
    width: 100%;
}

#banner__text{
    font-size: 2rem;
    font-style: italic;
    font-stretch: extra-expanded;
    letter-spacing: 0.1rem;
    /* background: linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%); */
    /* background: linear-gradient(45deg, #FFDF00, #FFD700, #FFC200, #FFB700, #FFA500); */
    /* background: linear-gradient(45deg, #FFD700, #FFC700, #FFB700, #FFA700, #FF9700); */
    /* background: linear-gradient(45deg, #FFDF00, #FFD700, #FFC200, #FFB700, #FFA500, #FF8C00, #FF7500); */
    background: linear-gradient(45deg, 
    #FFDF00 0%, 
    #FFD700 20%, 
    #FFC200 40%, 
    #FFB700 60%, 
    #FFA500 70%, 
    #FF8C00 85%, 
    #FF7500 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
}

/* .hero{
    background: #36393e;
}

.hero__container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    max-width: 1300px;
}

.hero__img--container {
    text-align: center;
}

.hero__image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
}


.hero__content{
    display: flex;
    flex-direction: column;
    /* padding: 0px 10px;
}

.content__item{
    background: #1e2124;
}

.content__header{
    color: white;
}

.content__item:nth-child(2){
    background: #424549;
} */

.hero{
    display: grid;
    place-items: center;
    background: #36393e;
    width: 100%;
    padding-top: 10px;
}

.hero__wrapper{
    width: 80%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}

.hero__wrapper .selfie{
    overflow: hidden;
}

.hero__wrapper .selfie img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    /* padding-top: 5px; */
}

.contact__wrapper .content__section{
    margin-top: 4rem;
    font-size: 1rem;
    line-height: 26px;
    padding-bottom: 1rem;
}

.contact__wrapper .content__section .content__header{
    font-size: 2rem;
}

.contact__wrapper .content__section .content__text{
    color: #D2D2D6;
}

.hero__wrapper .aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__wrapper .aboutMe .content__text{
    font-size: 1rem;
    line-height: 26px;
    padding-bottom: 1rem;
    color: #D2D2D6;
}