
.bannerwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    background: #282b30;
    z-index: 100;
    width: 100%;
}

#banner__text{
    font-size: 2rem;
    font-style: italic;
    font-stretch: extra-expanded;
    letter-spacing: 0.1rem;
    background: linear-gradient(45deg, 
    #FFDF00 0%, 
    #FFD700 20%, 
    #FFC200 40%, 
    #FFB700 60%, 
    #FFA500 70%, 
    #FF8C00 85%, 
    #FF7500 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    padding: 10px;
}


@media screen and (max-width:1100px){
    #banner__text{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:780px){
    #banner__text{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:650px){
    #banner__text{
        font-size: 1rem;
    }
}

.hero{
    display: grid;
    place-items: center;
    background: #36393e;
    width: 100%;
    padding-top: 10px;
    max-width: 1400px;
}

.hero.is-phone-portrait{
    /* margin-bottom: 100rem; */
}

.hero__wrapper{
    width: 80%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    /* overflow: hidden; */
}

.hero__wrapper .selfie img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.is-tablet-landscape .hero__wrapper .selfie img{
    height: 90vh; 
}


.planned{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.planned .content__text{
    font-size: 1rem;
    line-height: 26px;
    padding-bottom: 1rem;
    color: #D2D2D6;
}

.planned .content__text a{
    text-decoration: underline;
    color: #D2D2D6;
}

.hero__wrapper .aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__wrapper .aboutMe .content__text{
    font-size: 1rem;
    line-height: 26px;
    padding-bottom: 1rem;
    color: #D2D2D6;
}