
<div class="bannerwrapper">
  <h1 id="banner__text">A Place Where Excellence & Greatness Will Be Achieved</h1>
</div>

<div class="hero">
  <div class="hero__wrapper">
    <div class="selfie">
      <img src="http://localhost:4200/fillerimage.jpg" alt="Image of Muhamed Otajagic">
    </div>
    <div class="aboutMe">
      <div class="welcoming">
        <h1 class="content__header">About Me</h1>
        <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci cum, sint delectus ratione id. Dolor, quo inventore tenetur quos porro dolorem molestiae maiores illum doloribus voluptas nemo enim culpa!</p>
      </div>
      <div class="intrests">
        <h1 class="content__header">Interests & Hobbies</h1>
        <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci cum, sint delectus ratione id. Dolor, quo inventore tenetur quos porro dolorem molestiae maiores illum doloribus voluptas nemo enim culpa!</p>
      </div>
      <div class="future">
        <h1 class="content__header">Plans for the Future</h1>
        <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci cum, sint delectus ratione id. Dolor, quo inventore tenetur quos porro dolorem molestiae maiores illum doloribus voluptas nemo enim culpa!</p>
      </div>
      <div class="achievements">
        <h1 class="content__header">Achievements</h1>
        <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci cum, sint delectus ratione id. Dolor, quo inventore tenetur quos porro dolorem molestiae maiores illum doloribus voluptas nemo enim culpa!</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="hero">
  <div class="hero__container">
    <div class="hero__image--container">
      <div class="hero__image"><img src="fillerimage.jpg" alt="Photo of Muhamed Otajagic"></div>
    </div>
    <div class="hero__content">
      <div class="content__item">
        <h1 class="content__header">About Me</h1>
        <p class="content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae numquam qui veniam temporibus, maxime ullam cum deserunt amet aspernatur voluptatem possimus pariatur, aliquam quisquam accusantium molestiae nesciunt. Tenetur, porro?</p>
      </div>
      <div class="content__item">
        <h1 class="content__header">Hobbies & Interests</h1>
        <p class="content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae numquam qui veniam temporibus, maxime ullam cum deserunt amet aspernatur voluptatem possimus pariatur, aliquam quisquam accusantium molestiae nesciunt. Tenetur, porro?</p>
      </div>
      <div class="content__item">
        <h1 class="content__header">Plans for the future</h1>
        <p class="content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae numquam qui veniam temporibus, maxime ullam cum deserunt amet aspernatur voluptatem possimus pariatur, aliquam quisquam accusantium molestiae nesciunt. Tenetur, porro?</p>
      </div>
    </div>
  </div>
</div> -->


<router-outlet></router-outlet>