*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth; 
}

.bannerwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    background: #131313;
    z-index: 1;
    width: 100%;
}

#banner__text{
    color: brown;
    font-size: 3rem;
    font-style: italic;
    font-stretch: extra-expanded;
}