
<div class="bannerwrapper">
  <h1 id="banner__text">A Place Where Excellence & Greatness Will Be Achieved</h1>
</div>
<div class="note__wrapper" *ngIf="isPhonePortrait || isTabletPortrait" [ngClass]="{'is-phone-portrait': isPhonePortrait, 'is-tablet-landscape': isTabletLandscape ,'is-tablet-portrait': isTabletPortrait, 'is-large': isLarge, 'is-XLarge': isXLarge}">
  <h2 id="mobile__note">Note: I am still working on mobile responsiveness</h2>
</div>
<div class="hero" [ngClass]="{'is-phone-portrait': isPhonePortrait, 'is-tablet-landscape': isTabletLandscape ,'is-tablet-portrait': isTabletPortrait, 'is-large': isLarge, 'is-XLarge': isXLarge}">
  <div class="hero__wrapper" [ngClass]="{'is-phone-portrait': isPhonePortrait, 'is-tablet-landscape': isTabletLandscape ,'is-tablet-portrait': isTabletPortrait, 'is-large': isLarge, 'is-XLarge': isXLarge}">
    <div class="selfie" id="selfie" [ngClass]="{'is-phone-portrait': isPhonePortrait, 'is-tablet-landscape': isTabletLandscape ,'is-tablet-portrait': isTabletPortrait, 'is-large': isLarge, 'is-XLarge': isXLarge}">
      <img src="https://moenow.netlify.app/fillerimage.jpg" alt="Image of Muhamed Otajagic">
    <div class="planned" *ngIf="!isPhonePortrait" [ngClass]="{'is-phone-portrait': isPhonePortrait, 'is-tablet-landscape': isTabletLandscape ,'is-tablet-portrait': isTabletPortrait, 'is-large': isLarge, 'is-XLarge': isXLarge}">
      <h1 class="content__header">Planned Projects</h1>
      <p class="content__text">
        Currently, my goal for this website are to have it updated to a more fully fledged place where I can regularly share my projects and my experiences while also providing resources. 
        <br><br>
        I’ll be exploring Python projects where I’ll explore versatile libraries such as NumPy, Pandas, and Matplotlib, allowing me to deepen my knowledge of manipulating data, data analysis, and data visualization. This experience will not only improve my programming skills but also prepare me for tackling more complex challenges in the future. Machine learning and artificial intelligence are areas in computer science that I am very passionate about. I believe AI will be the future; it has already become a global sensation, with news feeds constantly covering new discoveries. I’d like to eventually start combining the power of AI with current threat detection models to develop technology that is capable of detecting and stopping malware in its tracks.
        <br><br>
        I’ve started looking into the world of 3D printers and plan on purchasing one where I’ll be able to combine my knowledge of mechanical design and programming. Being inspired by <a href="https://www.youtube.com/@jamesbruton" target="_blank">James Bruton's</a> openDog project, I plan on attempting to make my own robot dog with greater artificial intelligence capabilities, similar to Boston Dynamics’ Spot robot. It might be a huge project, but I see myself learning invaluable knowledge from it. Additionally, I plan on working on a robot arm, diving deeper into the world of robotics. 
        <br><br>
        With the experience I’ll get from the robot dog, I plan on researching how to take to the skies with drones. I plan on making this project open source, so others will be able to collaborate and have the capability of easily making their own designs. I want to figure out a way to put artificial intelligence on a drone to act like a guidance system that, with checkpoints similar to those in competitive drone racing, will be able to fly an entire track by itself.
    </p>
    </div>
    </div>
    <div class="aboutMe">
      <div class="welcoming">
        <h1 class="content__header">About Me</h1>
        <p class="content__text">
          Welcome to MoeNow, a blog that I’ve created as a place to showcase my projects. My name is Muhamed Otajagic. I’m a passionate teen who loves technology and has a passion for learning.
          <br><br>
          My goal in life is to turn my cybersecurity hobby into a fulfilling career and contribute to making the digital world a safer place for everyone, while also posting information to educate other researchers and cybersecurity practitioners.
        </p>
      </div>
      <div class="intrests">
        <h1 class="content__header">Interests & Hobbies</h1>
        <p class="content__text">
          I'm an advocate for STEM and STEAM education, believing in the power of science, technology, engineering, the arts, and mathematics to shape a better future. In my journey to expand my knowledge, I enjoy taking up hobbies that cater to my creativity and problem-solving skills. I’ve recently taken up web development and have recently started learning Angular to build more complex web applications. For tasks that call for data manipulation and automation, I utilize my knowledge in Python. 
          <br><br> 
          Recently, I've developed a keen interest in malware reverse engineering. This field fascinates me because it combines my technical skills with a deep curiosity about cybersecurity threats and defenses. Delving into malware analysis allows me to understand the intricate workings of malicious software, identify vulnerabilities, and develop strategies to mitigate cyber risks. With my recent research, I have gained insights into the inner workings of malware and even how hackers cheat in games. This pursuit of learning about malware not only contributes to my ambition to become the best cyber security practitioner that I can be, but also opens a whole new world of possibilities.
        </p>
      </div>
      <div class="achievements">
        <h1 class="content__header">Achievements</h1>
        <p class="content__text">
          Over the course of my life, I have met and joined wonderful people. During my freshman year of high school, I joined my local robotics team, Red Storm Robotics, where I was awarded Best Rookie for my outstanding dedication to hard work, strong leadership skills, and my ability to learn new technical skills, such as computer-aided design (CAD). Best Innovator, for my proficiency in problem solving and coming up with creative solutions. <br><br>
          Later on, I was accepted into the Cybersecurity and Networking course at the Kent Career Technical Center (KCTC), where in my first year I obtained a dozen industry certifications from multiple vendors like Comptia, Microsoft, and Pearson. My proudest certification was my Comptia Security+, which proves my knowledge of security principles. 
        </p>
      </div>
      <div class="future">
        <h1 class="content__header">The Future</h1>
        <p class="content__text">
        I have been lucky enough to be enrolled in KCTC’s 2nd year program for cybersecurity and networking, where I plan to take up this opportunity and excel, pushing myself to greater heights. My goal during that time will be to become Comptia CASP+ and CySA+ certified, proving that my knowledge in cybersecurity is extensive and that I have the know-how to implement solutions that combat malicious actors. Currently, I’m studying for Linux+, which has opened my eyes to new horizons for operating system security and administration. 
        <br><br>
        In the coming months, I plan to accelerate my learning in machine learning and artificial intelligence, heavily improving my Python skills and marking the beginning of my C programming language journey. With knowledge of a low-level programming language and one that offers an extensive ecosystem of libraries, I will be able to start reverse engineering malware samples on my own time to get hands-on experience with working with malware.
        </p>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>

<router-outlet></router-outlet>