
<div class="bannerwrapper">
  <h1 id="banner__text">A Place Where Excellence & Greatness Will Be Achieved</h1>
</div>

<div class="hero">
  <div class="hero__wrapper">
    <div class="selfie">
      <img src="https://moenow.netlify.app/fillerimage.jpg" alt="Image of Muhamed Otajagic">
    </div>
    <div class="aboutMe">
      <div class="welcoming">
        <h1 class="content__header">About Me</h1>
        <p class="content__text">Welcome to MoeNow.blog, a blog that I’ve created to show off my projects. My name is Muhamed Otajagic. I’m a passionate teen who loves technology and has a passion for learning.<br><br>My goal in life is to turn my cybersecurity hobby into a fulfilling career and contribute to making the digital world a safer place for everyone, while also posting information to educate other researchers and cybersecurity practitioners.
          </p>
      </div>
      <div class="intrests">
        <h1 class="content__header">Interests & Hobbies</h1>
        <p class="content__text">I'm an advocate for STEM & STEAM education, believing in the power of science, technology, engineering, arts, and mathematics to shape a better future. In my journey to expand my knowledge, I enjoy taking up hobbies that cater to my creativity and problem solving skills. I’ve recently taken up web development and have recently started learning Angular to build more complex web applications. For tasks that call for data manipulation and automation, I utilize my knowledge in Python.<br><br>

        Recently, I've developed a keen interest in malware reverse engineering. This field fascinates me because it combines my technical skills with a deep curiosity about cybersecurity threats and defenses. Delving into malware analysis allows me to understand the intricate workings of malicious software, identify vulnerabilities, and develop strategies to mitigate cyber risks. With my recent research, I have gained insights into the inner workings of malware and even how hackers cheat in games. This pursuit of learning about malware not only contributes to my ambition to become the best cyber security practitioner that I can be, but also opens a whole new world of possibilities.
          </p>
      </div>
      <div class="achievements">
        <h1 class="content__header">Achievements</h1>
        <p class="content__text">
          Over the course of my life, I have met and joined wonderful people. During my freshman year of high school, I joined my local robotics team, Red Storm Robotics, where I was awarded Best Rookie for my outstanding dedication to hard work, strong leadership skills, and my ability to learn new technical skills, such as computer-aided design (CAD). Best Innovator, for my proficiency in problem solving and coming up with creative solutions. <br><br>
          Later on, I was accepted into the Cybersecurity and Networking course at the Kent Career Technical Center (KCTC), where in my first year I obtained a dozen industry certifications from multiple vendors like Comptia, Microsoft, and Pearson. My proudest certification was my Comptia Security+, which proves my knowledge of security principles. 
        </p>
      </div>
      <div class="future">
        <h1 class="content__header">The Future</h1>
        <p class="content__text">I have been lucky enough to be enrolled in KCTC’s 2nd year program for cybersecurity and networking, where I plan to take up this opportunity and excel, pushing myself to greater heights. My goal during that time will be to become Comptia CASP+ and CySA+ certified, proving that my knowledge in cybersecurity is extensive and that I have the know-how to implement solutions that combat malicious actors. Currently, I’m studying for Linux+, which has opened my eyes to new horizons for operating system security and administration. 
        <br><br>
        In the coming months, I plan to accelerate my learning in machine learning and artificial intelligence, heavily improving my Python skills and marking the beginning of my C programming language journey. With knowledge of a low-level programming language and one that offers an extensive ecosystem of libraries, I will be able to start reverse engineering malware samples on my own time to get hands-on experience with working with malware.
          </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="hero">
  <div class="hero__container">
    <div class="hero__image--container">
      <div class="hero__image"><img src="fillerimage.jpg" alt="Photo of Muhamed Otajagic"></div>
    </div>
    <div class="hero__content">
      <div class="content__item">
        <h1 class="content__header">About Me</h1>
        <p class="content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae numquam qui veniam temporibus, maxime ullam cum deserunt amet aspernatur voluptatem possimus pariatur, aliquam quisquam accusantium molestiae nesciunt. Tenetur, porro?</p>
      </div>
      <div class="content__item">
        <h1 class="content__header">Hobbies & Interests</h1>
        <p class="content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae numquam qui veniam temporibus, maxime ullam cum deserunt amet aspernatur voluptatem possimus pariatur, aliquam quisquam accusantium molestiae nesciunt. Tenetur, porro?</p>
      </div>
      <div class="content__item">
        <h1 class="content__header">Plans for the future</h1>
        <p class="content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae numquam qui veniam temporibus, maxime ullam cum deserunt amet aspernatur voluptatem possimus pariatur, aliquam quisquam accusantium molestiae nesciunt. Tenetur, porro?</p>
      </div>
    </div>
  </div>
</div> -->


<router-outlet></router-outlet>